

.cal-button {
	-fx-border-radius: 1;
	-fx-border-color: #708090;
	-fx-padding: 1;
    -fx-border-insets: 1;
    -fx-background-insets: 1;
}

.overdue-cal-button {
	-fx-border-radius: 1;
	-fx-border-color: #708090;
	-fx-padding: 1;
    -fx-border-insets: 1;
    -fx-background-insets: 1;
    -fx-text-fill: red;
}

.cal-button:hover, .overdue-cal-button:hover {
	-fx-text-fill: #000;
    -fx-background-color: #F0F8FF;
}

.cal-button:pressed {
	-fx-base: light-blue;
}

.cal-button:focused, .overdue-cal-button:focused {
	-fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-font-family: "Arial Bold";
}

.month-btn {
	-fx-background-color: #708090;
	-fx-border-color: #708090;
	-fx-border-style: none;
	-fx-border-width: 1;
	-fx-border-radius: 0;
}

.month-btn:hover {
	-fx-background-color: #F0F8FF;
	-fx-text-fill: #000;
}

.list-view {
    -fx-background-color: #C3C3C3;
}

.button {
	-fx-font-family: "Arial";
	-fx-font-size: 12;
}

.list-cell {
	-fx-min-height: 30;
	-fx-padding: 10;
	-fx-font-family: 'Arial';
    -fx-font-size: 14;
}

.list-view .list-cell:hover {
    -fx-background-color: #636363;
    -fx-text-fill: white;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-font-family: "Arial Bold";
}

.list-view .list-cell {
    -fx-background-color: #C3C3C3;
    -fx-text-fill: black;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}




